$color-1: #2675d8;
$color-2: #000000;
$color-2-200: rgba(0,0,0,0.2);



$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-md: 20px;
$text-lg: 24px;
$text-xl: 30px;
$text-2xl: 40px;
$text-3xl: 60px;


$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-bold: 700;
$text-black: 900;

// mixin: text, button, table, input,...
@mixin text( $color,$fontsize, $fontweight,) {
    color: $color;
    font-size: $fontsize;
    font-weight: $fontweight;
}

@mixin flexbox($flex, $justify-content, $align-items) {
    display: $flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin button($bg-color, $color,$border, $border-radius, $padding, $font-size, $font-weight) {
    background-color: $bg-color;
    color: $color;
    border: $border;
    border-radius: $border-radius;
    padding: $padding;
    font-size: $font-size;
    font-weight: $font-weight;
}

* {
    margin: 0;
    padding: 0;
}